In [1]:
money = True

if money:
  print("택시를 타고 가라")
else:
  print("걸어 가라")

택시를 타고 가라

In [2]:
x = 3
y = 2
x > y

True

In [3]:
x < y

False

In [4]:
x == y

False

In [5]:
money = 2000

if money >= 3000:
  print("택시를 타고 가라")
else:
  print("걸어 가라")

걸어 가라

In [6]:
money = 2000
card = True

if money >= 3000 or card:
  print("택시를 타고 가라")
else:
  print("걸어 가라")

택시를 타고 가라

In [7]:
1 in [1, 2, 3]

True

In [8]:
1 not in [1, 2, 3]

False

In [9]:
a = {1:[1, 2, 3], 2:[4, 5, 6]}
1 in a

True

In [10]:
pocket = ["paper", "money", "cellphone"]

if "money" in pocket:
  pass
else:
  print("카드를 꺼내라")

In [11]:
pocket = ["paper", "cellphone"]
card = True

if "money" in pocket:
  print("택시를 타고 가라")
elif card:
  print("카드를 꺼내라")
else:
  print("걸어 가라")

카드를 꺼내라

In [12]:
pocket = ["paper", "cellphone"]

if "money" in pocket: pass
else: print("걸어 가라")

걸어 가라

In [13]:
treeHit = 0

while treeHit < 10:
  treeHit += 1
  print(f"나무를 {treeHit}번 찍었습니다.")
  if treeHit == 10:
    print("나무가 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무가 넘어갑니다.

In [14]:
test = [1, 2, 3]
for i in test:
  print(i)

1
2
3

In [15]:
a = [(1, 2), (3, 4), (5, 6)]

for first, last in a:
  print(first, last, first + last)

1 2 3
3 4 7
5 6 11

In [16]:
for i, (first, last) in enumerate(a):
  print(i, first + last)

0 3
1 7
2 11

In [17]:
marks = [90, 25, 67, 45, 80]

for i, mark in enumerate(marks):
  if mark >= 60:
    print(f"{i+1}번 학생은 합격입니다.")
  else:
    print(f"{i+1}번 학생은 불합격입니다.")

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [18]:
marks = [90, 25, 67, 45, 80]

for i, mark in enumerate(marks):
  if mark < 60:
    continue
  print(f"{i+1}번 학생은 합격입니다.")

1번 학생은 합격입니다.
3번 학생은 합격입니다.
5번 학생은 합격입니다.

In [19]:
for i in range(10):
  print(f"{i+1}번 진행")

1번 진행
2번 진행
3번 진행
4번 진행
5번 진행
6번 진행
7번 진행
8번 진행
9번 진행
10번 진행

In [20]:
math_list = [90, 25, 67, 45, 80]
english_list = [80, 85, 61, 99, 25]

for i in range(len(math_list)):
  average = (math_list[i] + english_list[i]) // 2
  if average < 60:
    continue
  print(f"{i+1}번 학생은 합격입니다.")

1번 학생은 합격입니다.
3번 학생은 합격입니다.
4번 학생은 합격입니다.

In [21]:
a = [1, 2, 3, 4]
result =[]

for num in a:
  result.append(num*3)
result

[3, 6, 9, 12]

In [22]:
result = [num*3 for num in a]
result

[3, 6, 9, 12]

In [23]:
a = [1, 2, 3, 4]
result = [num*3 for num in a if num % 2 == 0]
result

[6, 12]

In [24]:
result = [x*y for x in range(2, 10)
            for y in range(1, 10)]
result

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]