In [1]:
a = 123
b = -345
c = 0

In [2]:
a

123

In [3]:
b

-345

In [4]:
c

0

In [5]:
a = 1.2
b = -3.4
c = 0.0

In [6]:
a

1.2

In [7]:
b

-3.4

In [8]:
c

0.0

In [9]:
a = 3
b = 2

In [10]:
a + b

5

In [11]:
a - b

1

In [12]:
a * b

6

In [13]:
a / b

1.5

In [14]:
a+b*a/b

6.0

In [15]:
a ** b

9

In [16]:
a % b

1

In [17]:
a // b

1

In [18]:
a = "hello world"
b = '123'

In [19]:
type(a)
type(b)

str

In [20]:
a = " I'm favorite food is kimchi."
b = ' "Python is very easy." he says.'

In [21]:
c = ' I\'m favorite food is kimchi.'
d = "\"Python is very easy.\"he says."

In [22]:
a = "AI is fun.\nbut is difficult."
b = '''AI is fun
       but is difficult.
       '''
c = """AI is fun
       but is difficult.
    """

In [23]:
print(a)

AI is fun.
but is difficult.

In [24]:
a = "Python"
b = " is very easy."
a + b

'Python is very easy.'

In [25]:
a * 2

'PythonPython'

In [26]:
a = "=" * 50
b = "My Program"
print(a+"\n"+b+"\n"+a)

==================================================
My Program
==================================================

In [27]:
a = "Python is very easy."
a[0]

'P'

In [28]:
a[7]

'i'

In [29]:
a[-1]

'.'

In [30]:
a[-10]

'v'

In [31]:
b = a[10] + a[11] + a[12] + a[14]
b

'ver '

In [32]:
b = a[10:15]
b

'very '

In [33]:
b = a[10:]
b

'very easy.'

In [34]:
c = a[:10]
c

'Python is '

In [35]:
d = a[:]
d

'Python is very easy.'

In [36]:
e = a[7:-6]
e

'is very'

In [37]:
"I eat %d banana." %2

'I eat 2 banana.'

In [38]:
"I eat %s banana." %"2"

'I eat 2 banana.'

In [39]:
number = 2
"I eat %d banana." %number

'I eat 2 banana.'

In [40]:
# 2개 이상의 값 넣기
number = 12
day = "two"
"I ate %d bananas. So I was sick for %s days." %(number, day)

'I ate 12 bananas. So I was sick for two days.'

In [41]:
"I eat %s banana." % "2"

'I eat 2 banana.'

In [42]:
"I eat %s banana." %2

'I eat 2 banana.'

In [43]:
"Rate is %s" %3.234

'Rate is 3.234'

In [44]:
"%10s" %"apple"

'     apple'

In [45]:
# 왼쪽 정렬
"%-10s banana" %"apple"

'apple      banana'

In [46]:
"%0.4f" %3.141592

'3.1416'

In [47]:
"%5.4f" %532.12012345

'532.1201'

In [48]:
"I eat {0} banana.".format(2)

'I eat 2 banana.'

In [49]:
"I eat {} banana.".format(2)

'I eat 2 banana.'

In [50]:
"I eat {0} banana.".format("two")

'I eat two banana.'

In [51]:
number = "two"
"I eat {} banana.".format(number)

'I eat two banana.'

In [52]:
number = 12
day = "two"
"I ate {0} bananas. So I was sick for {1} days.".format(number, day)

'I ate 12 bananas. So I was sick for two days.'

In [53]:
"I ate {number} bananas. So I was sick for {day} days.".format(number=12, day="two")

'I ate 12 bananas. So I was sick for two days.'

In [54]:
"I ate {0} bananas. So I was sick for {day} days.".format(12, day="two")

'I ate 12 bananas. So I was sick for two days.'

In [55]:
number = 12
day = "two"
"I ate {} bananas. So I was sick for {} days.".format(number, day)

'I ate 12 bananas. So I was sick for two days.'

In [56]:
"{0:<10}".format("hi")

'hi        '

In [57]:
"{0:>10}".format("hi")

'        hi'

In [58]:
"{0:^10}".format("hi")

'    hi    '

In [59]:
"{0:=^10}".format("hi")

'====hi===='

In [60]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [61]:
number = 12
day = "two"
f"I ate {number} bananas. So I was sick for {day} days."

'I ate 12 bananas. So I was sick for two days.'

In [62]:
number = 3
f"I ate {number+5} bananas."

'I ate 8 bananas.'

In [63]:
f"{'hi':<10}"

'hi        '

In [64]:
f"{'hi':=^10}"

'====hi===='

In [65]:
a = "apple"
a.count('p')

2

In [66]:
a = "hope"
a.find("p")

2

In [67]:
a.find("k")

-1

In [68]:
a.index("p")

2

In [69]:
a.index("k")

ValueError: substring not found

In [70]:
",".join("abcd")

'a,b,c,d'

In [71]:
a = "hi"
a.upper()

'HI'

In [72]:
a = "HI"
a.lower()

'hi'

In [73]:
a = " hi "
a.lstrip()

'hi '

In [74]:
a = " hi "
a.rstrip()

' hi'

In [75]:
a = " hi "
a.strip()

'hi'

In [76]:
a = "Pithon"
a.replace("i", "y")

'Python'

In [77]:
b = "apple"
b.replace("p", "z")

'azzle'

In [78]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [79]:
b = "a:b:c:d"
b.split(":")

['a', 'b', 'c', 'd']

In [80]:
data = [1, 2, 3, 4, 5]
data[0]

1

In [81]:
data[0] + data[4]

6

In [82]:
data[3] / data[1]

2.0

In [83]:
data[-1]

5

In [84]:
data[-2] / data[1]

2.0

In [85]:
data = [1, 2, 3, ['a', 'b', 'c']]
data[0]

1

In [86]:
data[-1]

['a', 'b', 'c']

In [87]:
data[-1][0]

'a'

In [88]:
data[-1][-1]

'c'

In [89]:
data = [1, 2, ['a', 'b', ['Life', 'is']]]
data[2]

['a', 'b', ['Life', 'is']]

In [90]:
data[2][2]

['Life', 'is']

In [91]:
data[-1][-1]

['Life', 'is']

In [92]:
data[-1][-1][0]

'Life'

In [93]:
data = [1, 2, 3, 4, 5]
data[0:2]

[1, 2]

In [94]:
a = "12345"
a[0:2]

'12'

In [95]:
b = data[:2]
b

[1, 2]

In [96]:
c = data[2:]
c

[3, 4, 5]

In [97]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [98]:
a[3][:2]

['a', 'b']

In [99]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [100]:
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [101]:
len(a)

3

In [102]:
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

In [103]:
a = [1, 2, 3]
del a[1]
a

[1, 3]

In [104]:
b = [1, 2, 3, 4, 5]
del b[2:]
b

[1, 2]

In [105]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [106]:
a.append([5, 6])
a

[1, 2, 3, 4, [5, 6]]

In [107]:
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [108]:
b = ['a', 'c', 'b']
b.sort()
b

['a', 'b', 'c']

In [109]:
a = [1, 2, 3]
a.reverse()
a

[3, 2, 1]

In [110]:
a = ['a', 'e', 'b', 'd', 'c']
a.index('b')

2

In [111]:
a.index('a')

0

In [112]:
a = [1, 2, 3]
a.insert(3,4)
a

[1, 2, 3, 4]

In [113]:
a = [1, 2 ,3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [114]:
a.remove(3)
a

[1, 2, 1, 2]

In [115]:
a = [1, 2, 3]
b = a.pop()

In [116]:
a

[1, 2]

In [117]:
b

3

In [118]:
a = [1, 2, 3]
a.pop(1)
a

[1, 3]

In [119]:
a = [1, 2, 3, 1, 1]
a.count(1)

3

In [120]:
a = [1, 2, 3]
a.extend([4, 5])
a

[1, 2, 3, 4, 5]

In [121]:
b = [6, 7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

In [122]:
a = {1: 'a'}
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [123]:
a ['name'] = 'pey'
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [124]:
a [3] = [1, 2, 3]
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [125]:
del a[1]
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [126]:
del a['name']
a

{2: 'b', 3: [1, 2, 3]}

In [127]:
a = {1: 'a', 2: 'b', 'name':3, 'list':[1, 2, 3, 4]}
a[1]

'a'

In [128]:
a['name']

3

In [129]:
b = a['list']
b

[1, 2, 3, 4]

In [130]:
b.append(5)
b

[1, 2, 3, 4, 5]

In [131]:
a = {1: 'a', 2: 'b', 'name': 3, 'list':[1, 2, 3, 4]}
a.keys()

dict_keys([1, 2, 'name', 'list'])

In [132]:
a.values()

dict_values(['a', 'b', 3, [1, 2, 3, 4]])

In [133]:
a.items()

dict_items([(1, 'a'), (2, 'b'), ('name', 3), ('list', [1, 2, 3, 4])])

In [134]:
a.clear()

In [135]:
a = {1:'a', 2:'b', 'name':3, 'list':[1, 2, 3, 4]}
a.get(1)

'a'

In [136]:
a.get('name')

3

In [137]:
a.get(10)

In [138]:
a.get(3, 'NO')

'NO'

In [139]:
a = {1:'a', 2:'b', 'name':3, 'list':[1, 2, 3, 4]}
'name' in a

True

In [140]:
'3' in a

False

In [141]:
b = [1, 2, 3, 4, 5]
3 in b

True

In [142]:
'name' in b

False

In [143]:
a = set("Hello")
a

{'H', 'e', 'l', 'o'}

In [144]:
b = set([1, 2, 3, 1])
b

{1, 2, 3}

In [145]:
a = set([1, 2, 3, 1])
a

{1, 2, 3}

In [146]:
b = list(a)
b[0]

1

In [147]:
c = tuple(a)
c[2]

3

In [148]:
a = set([1, 2, 3, 4])
b = set([3, 4, 5, 6])
a & b

{3, 4}

In [149]:
a | b

{1, 2, 3, 4, 5, 6}

In [150]:
a - b

{1, 2}

In [151]:
b - a

{5, 6}

In [152]:
a = set([1, 2, 3])
a.add(4)
a

{1, 2, 3, 4}

In [153]:
a.update([4, 5, 6, 7])
a

{1, 2, 3, 4, 5, 6, 7}

In [154]:
a.remove(4)
a

{1, 2, 3, 5, 6, 7}

In [1]:
a = True
b = False

type(a)

bool

In [2]:
a

True

In [3]:
b

False

In [4]:
1 == 1

True

In [5]:
1 < 2

True

In [6]:
1 > 2

False

In [7]:
a = [1, 2, 3]
while a:
  print(a.pop())
if 0:
  print("False")
else:
  print("True")

3
2
1
True

In [8]:
bool("123")
bool([])

False

In [9]:
a = [1, 2, 3]
id(a)

140553021974344

In [10]:
b = a
id(a)

140553021974344

In [11]:
id(b)

140553021974344

In [12]:
a is b

True

In [13]:
b.append(4)
b

[1, 2, 3, 4]

In [14]:
a

[1, 2, 3, 4]

In [15]:
a = [1, 2, 3]
b = a[:]

In [16]:
a is b

False

In [17]:
b.append(4)
b

[1, 2, 3, 4]

In [18]:
a

[1, 2, 3]

In [19]:
c = a.copy()
a is c

False

In [20]:
from copy import copy
d = copy(a)
a is d

False

In [21]:
a, b = [1 ,2]
a

1

In [22]:
b

2

In [23]:
c = (a, b) = 3, 4
c

(3, 4)

In [24]:
a

3

In [25]:
b

4

In [26]:
c = [a, b] = [[5, 6], (7, 8)]
c

[[5, 6], (7, 8)]

In [27]:
a

[5, 6]

In [28]:
b

(7, 8)